@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.activeNav{
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

.hidden{
  display: none;
  appearance: none;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
}
body{
  padding-bottom: 50px;
}
.error{
  color: red;
}
.MuiDataGrid-toolbarContainer{
  flex-direction: row-reverse;
}
.css-wop1k0-MuiDataGrid-footerContainer {
 justify-content: center;
}
.activeMenu{
  transform: translateX(0);
}
.GridColDef {
  display: flex;
  flex: 1;
}
.MuiDataGrid-cellEmpty{
  display: none;
  appearance: none;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
}
.MuiDataGrid-filler{
  display: none;
  appearance: none;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
}
.css-yrdy0g-MuiDataGrid-columnHeaderRow{
  width: fit-content;
}
.MuiDataGrid-row{
  width: 100%;
}
.MuiDataGrid-row--firstVisible{
  width: 100%;
}
.MuiDataGrid-row--firstVisible{
  display: none;
  appearance: none;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
}
.MuiDataGrid-columnHeaderTitleContainer{
  justify-content: center;
}
@media (max-width: 760px) {
  .MuiDataGrid-main{
    width: 100%;
  } 
}
