@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.activeNav{
  background-color: rgb(59 130 246);
  color: white;
}

.hidden{
  display: none;
  appearance: none;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
}
body{
  padding-bottom: 50px;
}
input{
  overflow-wrap: break-word;
        word-wrap: break-word;
}
.error{
  color: red;
}