@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
body {
  width: 100%;
  height: 100%;
  @apply dark:bg-neutral-800;
}
.error {
  color: red;
}
.MuiDataGrid-toolbarContainer {
  flex-direction: row-reverse;
}
.css-wop1k0-MuiDataGrid-footerContainer {
  justify-content: center;
}
.activeMenu {
  transform: translateX(0);
}
.GridColDef {
  display: flex;
  flex: 1;
}
.MuiDataGrid-cellEmpty {
  display: none;
  appearance: none;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
}
.MuiDataGrid-filler {
  display: none;
  appearance: none;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
}
.css-yrdy0g-MuiDataGrid-columnHeaderRow {
  width: fit-content;
}
.MuiDataGrid-row {
  width: 100%;
}
.MuiDataGrid-row--firstVisible {
  width: 100%;
}
.MuiDataGrid-row--firstVisible {
  display: none;
  appearance: none;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
}
.MuiDataGrid-columnHeaderTitleContainer {
  @apply justify-center dark:bg-neutral-800;
}
@media (max-width: 760px) {
  .MuiDataGrid-main {
    width: 100%;
  }
}
.css-xvtsjs-MuiDataGrid-root {
  --DataGrid-containerBackground: rgb(0, 0, 0);

  background: none;
}
.MuiInputBase-input::placeholder {
  color: white;
}
